# Files
*.zip
.env
.env.prod
*.code-workspace
config.json
database.json
database.dev.json
database.prod.json
config.dev.json
config.prod.json
*.xlsx
app/tester.js

# Folders
/backup-codes
/resources
/build

# Defaults
.vagrant/
.vscode

/bin/*
/node_modules/*
storage/

